virtuoso_data:
    image: busybox
    tty: true
    volumes:
        - /virtuoso_db:/virtuoso_db:z
        - ./virtuoso.ini:/usr/local/virtuoso-opensource/var/lib/virtuoso/db/virtuoso.ini:z
        - /folder_host/local/cr3/files:/shared_folder/local/cr3/files:z
        - /folder_host/backups/sql:/shared_folder/backups/sql:z
        - /folder_host/tmp:/shared_folder/tmp:z

virtuoso:
    restart: always
    image: eeacms/virtuoso:7.2.1 
    ports:
        - 8890:8890
        - 1111:1111
    volumes_from:
        - virtuoso_data
